.dashboard__component{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dash__profile--img{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    top: 1.9em;
    z-index: 1;
}
.svg__doodle{
    width: 100%;
    position: relative;
    top: 3em;
    display: flex;
    justify-content: end;  
}
.svg__doodle--2{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;  
}
.image__circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    border: 5px solid #00d8c9;
}
.dash__profile{
    /* width: 100px;
    height: 100px; */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin: 1em;
}
.dash__profile--text{
    padding: 1em;
    color: #fff;
    text-align: center;
}
p > span{
    color: #00d8c9;
    font-weight: bold;
}

.stacks{
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    /* border-top: 1px solid #00d8c9; */
}
.iconify.toolkits {
    font-size: 25px;
    margin: .3em;
    color: #ddd;
    padding: 2px 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #231e23;
    box-shadow: 0 5px #00d8c9;
  }
  .iconify.toolkits:hover {
    box-shadow: 0 3px #fffbfa;
    top: 1px;
    color: #00d8c9;
  }
  .iconify.toolkits:active {
    box-shadow: 0 0 #fffbfa;
    top: 5px;
  }
  @media(max-width: 480px){
    .svg__doodle{
        top: 5em;
      
    }
}