/* #app { height: 100% } */
html,
body {
  position: relative;
  /* height: 100%1 */
}

.swiper {
  width: 100%;
  padding-top: 100px;
  max-width: 600px;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
