@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h1{
    font-family: 'Satisfy', sans-serif;
    color: #00d8c9;
    font-size: 1.5em;
    padding: 1em 0;
    text-align: center;
}