@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


.project__container{
    width: 100%;
    /* height: 150svh; */
    background: rgb(35, 30, 35);
    background: linear-gradient(
      180deg,
      rgba(35, 30, 35, 1) 0%,
      #252525 50%,
      #00d8c9 100%
    );
    padding: 1em 2.5em;
  }
h1{
    font-family: 'Satisfy', sans-serif;
    color: #00d8c9;
    font-size: 1.5em;
    padding: 1.5em 0;
    text-align: center;
    /* margin-top: .4em; */
}
.cards__container{
    display: flex;
    flex-wrap: wrap;
    padding: .4rem;
    gap: .7rem;
}
.project_card {
    width: 320px;
    /* height: 360px; */
    padding-bottom: 1.5rem;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    transition: .5s ease-in-out;
    overflow: hidden;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .project--box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    cursor: pointer;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   .minimized{
    width: 190px;
    height: 200px;
   }
   .none{
    width: 100px;
    height: 100px;
   }
   
   .card__img{
    width: 250px;
    height: auto;
    display: block;
   }
   .card__title,
   .card__description,
   .card__stacks{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   }
   .card__title{
    font-weight: 600;
    font-size: .78em;
    color: #00d8c9;
   }
   .card__description{
    font-weight: 300;
    font-size: .6em;
    padding: .2em 1em;
    color: #fff;
   }
   .card__stacks{
    font-weight: 600;
    font-size: .6em;
   }

   /* Projects.css */

.project_card .card__content {
  /* Default styles for the content */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: .8rem;
}

.project_card.minimized .card__content {
 padding: 0;
}

.project_card.none .card__content {
  /* Styles when the red button is clicked (none state) */
  display: none;
}
.project_card.minimized .project__btns {
  /* Styles when the red button is clicked (none state) */
  display: none;
}

.project_card img {
  /* Default styles for the image */
  max-width: 100%; 
}

.project_card.minimized{
  height: 230px;
}

.project_card.minimized h2 {
  font-size: .8em; 
}
.project_card.minimized p {
  display: none;
}
.project_card.minimized img {
  max-width: 130px; 
  max-height: 130px; 
}

.project_card.none img {
  max-width: 50%; 
}
.project__btns{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .7em;
  margin-top: .3em;
}
.project__btns button{
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #231e23;
  box-shadow: 0 5px #00d8c9;
  padding: .7em 2em;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.project__btns button:hover {
  box-shadow: 0 3px #fffbfa;
  top: 1px;
  color: #00d8c9;
}
.project__btns button:active {
  box-shadow: 0 0 #fffbfa;
  top: 5px;
}

@media screen and (max-width: 480px){
  .project__container{
    padding: 1em;
  }
}