.bottomnav{
    overflow: hidden;
}
.bottomNav__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2.5em;
    position: fixed;
    bottom: 0;
    z-index: 1500;
    transition: transform 0.9s ease-out;
    border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #231e23
}
.logo{
    /* display: flex;
    align-items: center; */
}
.logo img{
    width: 1.6em;
    height: auto;
}
.submenu{
    position: absolute;
    bottom: 4rem;
    width: 100%;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    
}
.open{
    opacity: 1;
    visibility: visible;
}
ul.submenu__content{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #231e23;
    z-index: 1000;
    overflow-x: scroll;
    padding: 0.4em;
}
ul.submenu__content::-webkit-scrollbar{
    height: 4px;
    background-color: #231e23;
}
ul.submenu__content::-webkit-scrollbar-thumb{
    background-color: #00d8ca;
}
ul.bottomnav__wrapper{
    display: flex;
    justify-content: space-between;
}
li.bottomnav__item,
li.submenu__item,
a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
li.submenu__item{
    padding: .3em;
    margin: .4em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.125);
}
.nav-icon{
    font-size: 1.5625em;
    color: #fff;
    margin: 0 1.3em;
}
.hamburger__icon{
    color: #fff;
    font-size: 1.5625em;
    font-weight: bold;
}
.nav-icon,
.hamburger__icon
,.logo img:hover,
.submenu__item{
    cursor: pointer;
}

/* Mobile Responsiveness */
@media(min-width: 480px){
  .bottomnav{
    display: none;
  }
}
@media(max-width: 480px){
    .logo{
        
    }
    .logo img{
        width: 1.5em;
        height: auto;
    }
    .bottomNav__container{
        padding: .8em .5em;
      }
    .nav-icon{
        font-size: 1.3em;
        margin: .6em;
    }
    .hamburger__icon{
        font-size: 1.3em;
    }
}